body{
    background: linear-gradient(#419387 15%, #d9dbd6 15%); 
    height: 100vh;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

i:hover{
 cursor: pointer;
}

.user i{
    padding-right: 8px;
}

.user i,
.text-input-container i{
    font-size: 22px;
}

.user{
    padding: 6px;
}

.text-gray{
    color: #b1b1b1;
}

.avatar{
    width: 60px;
    border-radius: 50%;
}

.user .avatar{
    padding-left: 6px;
}

aside .user {
    border-right: 1px solid #c2c2c2 ; 
}

aside, .side-right{
    background-color: #eaeaea ;
}


aside .notification{
    background-color: #9fd8f8;
    padding: 12px;
}

aside .notification .bell-container{
    background-color: #fff;
    color: #9fd8f8;
    font-size: 22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 12px;
}

aside .search-section{
    padding: 6px;
    height: 50px;
    margin-bottom: 10px;
}
aside .search-bar{
    border: 1px solid #f0efef;
    background-color: #fff;
}

aside .search-bar .fa-search{
    line-height: 50px;
    padding: 0 12px;
}

input{
    width: 100%;
    border: none;
    line-height: 50px;
}

aside .contacts {
    height: calc(100vh - 66px - 72px - 50px - 40px);
    padding: 6px;
    overflow-y: auto;

}

aside .contacts li{
    height: 80px;
    background-color: #fff;
    padding: 6px;
    border-bottom: 1px solid #f0efef;
}
aside .contacts li:last-child{
    border-bottom: none;
}

aside .contacts .contact-name{
    vertical-align: top;
    padding-left: 12px;
}

.side-right .area-message{
    background-image: url(../img/mine.jpg);
    height: calc(100vh - 72px - 72px - 40px);
    overflow-y: scroll;
}

.text-input-container{
    padding: 12px;
    background-color: #f2eeeaf3;
}

.text-input-container{
    padding: 12px 0;
}

.text-input-container i{
    color: gray;
    padding: 0 24px;
}

.text-input-container input{
    border-radius: 6px;
}

.sent, 
.received{
    border-radius: 6px;
    padding: 6px 24px;
    margin-top: 24px;
}

.area-message .sent{
    background-color: greenyellow;
    text-align: end;
    margin-right: 24px;
}

.area-message .received{
    display: inline-block;
    background-color: #fff;
    margin-left: 24px;
}

.date{
    color: gray;
    font-size: 12px;      
}