body{
    background: linear-gradient(#419387 15%, #d9dbd6 15%); 
    height: 100vh;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

i:hover{
 cursor: pointer;
}

.text-gray{
    color: #b1b1b1;
}

.avatar{
    width: 60px;
    border-radius: 50%;
}

aside{
    background-color: #eaeaea ;
}

aside .user{
    padding: 6px;
}

aside .user i{
    font-size: 22px;
    padding-right: 6px;
}

aside .notification{
    background-color: #9fd8f8;
    padding: 12px;
}

aside .notification .bell-container{
    background-color: #fff;
    color: #9fd8f8;
    font-size: 22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 12px;
}

aside .search-section{
    padding: 6px;
    height: 50px;
    margin-bottom: 10px;
}
aside .search-bar{
    border: 1px solid #f0efef;
    background-color: #fff;
}

aside .search-bar .fa-search{
    line-height: 50px;
    padding: 0 12px;
}

aside .search-bar input{
    width: 100%;
    flex-grow: 1;
    border: none;
    line-height: 50px;
}

aside .contacts {
    padding: 6px;
}

aside .contacts li{
    height: 80px;
    background-color: #fff;
    padding: 6px;
    border-bottom: 1px solid #f0efef;
}
aside .contacts li:last-child{
    border-bottom: none;
}

aside .contacts .contact-name{
    vertical-align: top;
    padding-left: 12px;
}
